.App {
	text-align: center;
}

.App-header {
	background-color: #000000;
	background-image: url('../public/img/background.jpg');
	background-size: cover;
	background-position: -26vw;
	background-repeat: no-repeat;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-text {
	max-width: 80%;
}

.App-spin {
	animation: spin 5s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

::-webkit-scrollbar {
	display: none;
}
