.App {
	text-align: center;
}

.App-main {
	background-color: #000000;
	background-image: url('../../public/img/background.jpg');
	background-size: cover;
	background-position: -26vw -30vh;
	background-repeat: no-repeat;
	min-height: 130vh;
	font-size: calc(10px + 2vmin);
	color: white;
	width: 90vw;
	display: flex;
	align-items: center;
	justify-content: right;
}

.App-wrapper {
	display: flex;
	flex-direction: column;
	width: 40%;
	text-align: right;
	animation: fadeInAnimation ease 5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.App-heading {
	font-size: 3.5em;
	margin-bottom: 30px;
}

.App-text {
	margin-bottom: 300px;
	animation: fadeInAnimation ease 6s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

::-webkit-scrollbar {
	display: none;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
