.App {
	text-align: center;
}

.AppMain {
	background-color: #000000;
	background-image: url('../../public/img/background.jpg');
	background-size: cover;
	background-position: -26vw -30vh;
	background-repeat: no-repeat;
	height: 130vh;
	font-size: calc(10px + 2vmin);
	color: white;
	width: 90vw;
	display: flex;
	align-items: center;
	justify-content: right;
}

.AppWrapper {
	display: flex;
	flex-direction: column;
	width: 40%;
	text-align: right;
	animation: fadeInAnimation ease 5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.AppHeading {
	font-size: 3.5em;
	margin-bottom: 30px;
}

.AppText {
	animation: fadeInAnimation ease 6s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.buttonWrapper {
	width: 100%;
	display: flex;
	justify-content: right;
}

.purchaseHeader {
	margin-top: 100px;
}

.button {
	background-color: #ffff;
	border: none;
	color: black;
	padding: 30px 48px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
	margin-top: 50px;
	margin-bottom: 100px;
	border-radius: 40px;
	width: min-content;
	min-width: fit-content;
}

.HomeAttribution {
	text-align: left;
}

.HomeAttribution a {
	text-decoration: underline;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* MEDIA QUERRIES */

@media (max-height: 800px) {
	.button {
		margin-bottom: 100px;
	}
}

@media (max-height: 600px) {
	.button {
		margin-bottom: 50px;
	}
}

@media (max-width: 1160px) {
	.AppHeading {
		font-size: 2em;
	}
}

@media (max-width: 900px) {
	.AppMain {
		width: 100vw;
		justify-content: center;
		background-size: cover;
		background-position: -350px;
	}

	.AppWrapper {
		width: 80%;
		text-align: center;
	}

	.buttonWrapper {
		justify-content: center;
	}
}

@media (max-width: 350px) {
	.button {
		padding: 20px 24px;
		font-size: 18px;
		border-radius: 25px;
	}
}
