.NavBar {
	height: 70px;
	background-color: #18191a;
	background-image: linear-gradient(#1e1e1e, #000000);
	opacity: 1;
	color: #fafafa;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100vw;
}

.NavBarLinks {
	display: flex;
	width: 400px;
	justify-content: space-between;
	align-items: center;
	padding-right: 15px;
}

.NavBarLink {
	width: 75px;
	text-align: center;
}

.NavBarLink a {
	color: white;
	text-decoration: none;
}

.NavBarLogo img{
	width: 50px;
	padding-left: 15px;
}
